*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header {
position: fixed; 
    background-color: darkkhaki;
    right: 0;
} */
.home {
    background-color: darkkhaki;
    width: 50vw;
    min-height: 100vh;
    margin: auto;
    position: relative;
}
.home h2 {
    font-size: 3rem;
}
.school {
    background-color: darkcyan;
    color: rgb(12, 12, 12);
    width: fit-content;
    margin-left: auto;
    width: 400px;
    height: 500px;
    margin: auto;
}
.school p {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 0;
}